<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link th:each="link : ${staticFiles}" th:href="${link}" rel="prefetch"/>

    <link href=/static/css/app.css rel=preload as=style>
    <link href=/static/js/app.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.js rel=preload as=script>
    <link href=/static/css/app.css rel=stylesheet>


</head>
<body>

<noscript>
    Your web browser does not support JavaScript or it is not currently enabled.
    For the best experience we recommend you <a href="http://www.enable-javascript.com/">enable JavaScript</a> or change
    to a JavaScript enabled web browser.
</noscript>
<div id="app"></div>
<script src=/static/js/chunk-vendors.js></script>
<script src=/static/js/app.js></script>

</body>
</html>
